{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <h1>{{ 'fast-order.title' | trans }}</h1>

    <form class="fast-order-form" action="{{ url('frontend.fast.order') }}" method="post">
        <div class="mb-3" id="rows-wrapper">
            {% for i in range(1, rowsCount) %}
            <div class="row g-2">
                <div class="form-group col-sm-3">
                    <input type="text"
                           class="form-control product-number search-field {% if formViolations.getViolations("/productNumber_" ~ i) is not empty %} is-invalid{% endif %}"
                           id="product-number-{{ i }}"
                           placeholder="{{ 'fast-order.form.product-number-placeholder' | trans }}"
                           name="productNumber_{{ i }}"
                           value="{% if app.request.request.get("productNumber_"~i) %}{{ app.request.request.get("productNumber_"~i) }}{% endif %}"
                           required="required"
                           autocomplete="off"
                           autocapitalize="off"
                           data-url="{{ path('frontend.fast.order.search') }}?productNumber="
                           minlength="2">

                    {% if formViolations.getViolations("/productNumber_" ~ i) is not empty %}
                        {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' with {
                            violationPath: '/productNumber_'~i
                        } %}
                    {% endif %}
                </div>
                <div class="form-group col-sm-1">
                    <input type="number"
                           class="form-control quantity {% if formViolations.getViolations("/quantity_" ~ i) is not empty %} is-invalid{% endif %}" id="quantity-{{ i }}"
                           placeholder="{{ 'fast-order.form.quantity-placeholder' | trans }}" name="quantity_{{ i }}"
                           value="{% if app.request.request.get("quantity_"~i) %}{{ app.request.request.get("quantity_"~i) }}{% else %}1{% endif %}"
                           required="required"
                           minlength="1"
                           min="1">

                    {% if formViolations.getViolations("/quantity_" ~ i) is not empty %}
                        {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' with {
                            violationPath: '/quantity_' ~ i
                        } %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="mb-3"><button type="button" class="btn" id="add-row">{{ 'fast-order.form.add-row' | trans }}</button></div>

        <button type="submit" class="btn btn-primary" id="add-to-cart">{{ 'fast-order.form.add-to-cart' | trans }}</button>

        <div class="error p-1 d-none">{{ 'fast-order.form.error'|trans }}</div>
    </form>
{% endblock %}
